<ul class="menu">
  <li>@Html.ActionLink("Home", "Index", "Home")</li>
  <li>@Html.ActionLink("See all treats", "Index", "Treats")</li>
  <li>@Html.ActionLink("See all flavors", "Index", "Flavors")</li>
  <li>@Html.ActionLink("Add new treat", "Create", "Treats")</li>
  <li>@Html.ActionLink("Add new flavor", "Create", "Flavors")</li>
  <li>@Html.ActionLink("Create an Account", "Index", "Account")</li>
  <li>@Html.ActionLink("Log in", "Login", "Account")</li>  
  <li> @using (Html.BeginForm("LogOff", "Account"))
    {
      <input type="submit" value="Log out" />
    }</li> 
</ul>
